<div class="product-details-container">
    <div id="product-details-view">
        <img src="{{ product.url }}">
    </div>
    <div class="product-details-info">
        <a class="back-button" routerLink="/">&lt; back</a>
        <h2> {{ product.name }}</h2>
        <p class="product-description">{{ product.description }}</p>
        <p class="price">{{ product.price | currency: "EUR" }}</p>
        <select name="quantity" (change)="setQuantity($event)">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
        <button (click)="addToCart()">add to cart</button>
        <span #cartSuccess>✓</span>
    </div>
</div>
