<div id="nav-container">
    <h1>My Store</h1>
    <span *ngIf="this.backendConnectionServie.isConnectedToBackend">connected to backend</span>
    <span *ngIf="!this.backendConnectionServie.isConnectedToBackend">connected to data.json</span>

    <ul>
        <a routerLink="/">Store</a>
        <a routerLink="/cart">Cart({{ cartCount }})</a>
        
        <app-login *ngIf="this.backendConnectionServie.isConnectedToBackend"></app-login>
        
       
    </ul>
    <h3 *ngIf="loggedIn">Logged in as {{ loggedInUser.first_name + " " + loggedInUser.last_name}}</h3>
</div>
