<div id="nav-container">
    <h1>My Store</h1>
    <span class="connection" *ngIf="this.backendConnectionServie.isConnectedToBackend">connected to backend</span>
    <span class="connection" *ngIf="!this.backendConnectionServie.isConnectedToBackend">connected to data.json</span>

    <ul>
        <a class="navigation-item" routerLink="/">Store</a>
        <a class="navigation-item" routerLink="/cart">Cart({{ cartCount }})</a>
        <a class="navigation-item" routerLink="/addProduct" *ngIf="loggedInUser.is_admin">Add new product</a>
    </ul>
</div>
<div class="login-container">
    <app-login *ngIf="this.backendConnectionServie.isConnectedToBackend"></app-login>
    <p class="login-name" *ngIf="loggedIn">Logged in as <a routerLink="/userpage">{{ loggedInUser.first_name + " " + loggedInUser.last_name}}</a></p>
</div>