<div id="nav-container">
    <h1>My Store</h1>
    <span *ngIf="this.backendConnectionServie.isConnectedToBackend">connected to backend</span>
    <span *ngIf="!this.backendConnectionServie.isConnectedToBackend">connected to data.json</span>

    <ul>
        <a routerLink="/">Store</a>
        <a routerLink="/cart">Cart({{ cartCount }})</a>
        <a routerLink="/addProduct" *ngIf="loggedInUser.is_admin">Add new product</a>
        
        <app-login *ngIf="this.backendConnectionServie.isConnectedToBackend"></app-login>
        
        
       
    </ul>
    <h3 *ngIf="loggedIn">Logged in as <a routerLink="/userpage">{{ loggedInUser.first_name + " " + loggedInUser.last_name}}</a></h3>
</div>
