a {
    margin: 1rem;
    text-decoration: none;
    color: lightseagreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a:hover {
    text-decoration: line-through;
}

#nav-container, ul {
    text-align: center;
    margin: 0;
    margin-block-start: auto;
    margin-block-end: auto;
    margin-inline-start: auto;
    margin-inline-end: auto;
    margin: 0;
    padding: 0;
    width: 100vw;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}



